/*MENU GERAL*/

.menu {
  display: flex;
  flex-basis: 225px;
  background-color: var(--bg-content-d);
}

.menu nav {
  flex-grow: 1;
  
}

/*MENU LOGO*/
.menu .profile{
  display: flex;
  flex-direction: column;
  background-color:  var(--bg-content-e);
  align-items: center;
  text-align: center;
  padding-top: 36px;
}

.menu .profile .description{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 36px;
  padding-bottom: 18px;
 
}


.menu .profile img{
  width: 80%;
  animation: bounce 2s infinite alternate;
  -webkit-animation: bounce 2s infinite alternate;
}

.menu .profile img:hover{
  filter: brightness(110%);
}



/*MENU - NAVEGAÇÃO*/
.menu .navigation {
 padding-top: 16px;
}


.menu .navigation li {
  display: flex;
 
}

.menu .navigation li:hover {
  display: flex;
  filter: brightness(115%);
}

.menu .navigation a {
  display: flex;
  justify-items: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.950);
  position: relative;
  text-decoration: none;
  flex-grow: 1;
  margin: 12px 0px;
  font-size: 1.4em;
}

.menu .navigation img {
  margin: 0px 12px;
}




.menu .navigation a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #2e31308c;
  bottom: -5px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}


.menu .navigation a:hover::before {
   
    transform-origin: left;
    transform: scaleX(1);
  
}

/*MENU - REDES SOCIAIS*/


.menu .channels {
  height: 25vh;
  display: flex;
  justify-content:space-around;
  align-items: end;
  padding: 0px 32px;

}

.menu .channels a {
  display: flex;
}

.menu .channels img:hover {
  filter: brightness(130%);
}


/*Animação*/

@keyframes bounce {
  
  from {
    transform: translateY(1.5px);
  }
  to {
    transform: translateY(-1.5px);
  }
}
